
<section class="info-books">
  <div class="container">
      <div class="col-12 text-center mt-3 ">

          <h1>Customers</h1>

      </div>


      <div class="action-btns  text-center ">
          <div class="row">
              <div class="col-lg-6  col-sm-6 col-md-6">
                <button class="btn btn-primary" (click)="openAddDialog()">Add New Entry</button>
              </div>
          </div>
      </div>


      <div class="info-table   text-center  mt-3">
          <div class="table-responsive">

              <table class="table ">
                  <thead>
                      <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>mobileNumber</th>
                        <th>AccountNumber</th>
                        <th>DebtAmount</th>
                        <th>IsPaid</th>
                        <th>IsActive</th>
                        <th>Actions</th>

                      </tr>

                  </thead>

                  <tbody>
                    <tr *ngFor="let CustomerItem of customerItems">
                      <td>{{ CustomerItem.id }}</td>
                      <td>{{ CustomerItem.name }}</td>
                      <td>{{ CustomerItem.phoneNumber}}</td>
                      <td>{{ CustomerItem.accountNumber}}</td>
                      <td>{{ CustomerItem.debtAmount}}</td>
                      <td>{{ CustomerItem.isPaid}}</td>
                      <td>{{ CustomerItem.isActive}}</td>


                   

                          <td >
                              <div class="row">
                                <div class="col-4">
                                  <button class="btn btn-sm btn-danger">Active</button>
                                </div>
                                <div class="col-4">
                                  <button class="btn btn-sm btn-info" (click)="openEditDialog(CustomerItem.id)">Edit</button>
                                </div>                                  
                                  <div class="col-4 ">
                                    <button class="btn btn-sm btn-danger" (click)="deleteEntry(CustomerItem.id)">Delete</button>
                                  </div>

                              </div>
                              
                          </td>
                        </tr>
                      </tbody>
                  </table>

              </div>



          </div>






      </div>
  </section>